.menu{
    overflow: hidden;
    background-color: #3f6ba1;
    margin:0;
    position: absolute;
    left:0;
    width: 100%;
    top:0;
}

.menu a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
  }

  .menu a:hover{
    background-color: rgb(181, 199, 221);
    color:#3f6ba1;
  }