body{
    margin:auto;
    margin-top:100px;
    background: linear-gradient( 180deg, rgb(180, 196, 220), rgb(212, 222, 234));
    background-attachment: fixed;
}

fieldset{
    margin:auto;
    background-color: transparent;
    border-color: 	#3f6ba1;
    border-style:  solid;
    border-width: 2pt;
    font-family: sans-serif;
    color: #3f6ba1;
    text-align: center; 
}

legend{
    padding-left:5px;
    padding-right: 5px;
}

.trenutna{
    border-radius: 20px;
    height: 370px;
    width: 350px;
}

.prethodna{
    display: none;
    visibility: hidden;
}

.sljedeca{
    height: 300px;
    width: 300px;
    border-radius: 50px;
    margin-top: 70px;
}

h2{
    margin-top: 80px;
    font-weight: normal;
}

p{
    margin-bottom: 2px;
    margin-top:2px;
}

